 body {
      font-family: Arial, sans-serif;
      background-color: #F5F5F5;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 900px;
      margin: 20px auto;
      background: #E3EFF5;
      border-radius: 12px;
      padding: 20px;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    }

    h1, h2 {
      text-align: center;
      color: #0A4C8C;
    }
  

    .section {
      background: white;
      border-radius: 10px;
      padding: 20px;
      margin: 15px 0;
      text-align: center;
    }
    .section h2{
      background-color: #628EDB;
      padding: 40px 20px 30px 30px;
    }
    
    .flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 10px;
    }

    .card {
      flex: 1;
      margin: 10px;
      background: #fdfdfd;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
      min-width: 200px;
      max-width: 250px;
    }

    .impact {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
    }

    .impact div {
      width: 30%;
      text-align: center;
      margin: 10px;
    }

    .highlight {
      background: #0A4C8C;
      color: white;
      font-weight: bold;
      padding: 10px;
      border-radius: 8px;
      margin: 10px 0;
    }

    .card img, .impact img, .section img {
      max-width: 100px;
      margin-bottom: 10px;
    }

    
    .whatif img {
      max-width: 400px;
      margin: 20px auto;
      display: block;
      
    }

  

    footer {
      text-align: center;
      margin-top: 50px;
      padding: 30px 20px;
      color: black;
      font-size: 14px;
    }

footer p {
  margin: 10px 0;
  font-size: 14px;
  color: black;
}

footer li {
  list-style: none;
  margin: 8px 0;
  font-size: 15px;
  color: black;
}

footer ul {
  padding: 0;
  margin: 15px 0;
}

